.btn-gradient {
  background: linear-gradient(
    135deg,
    #ffffff,
    #bebebe
  ); /* 연한 색상 그라데이션 */
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  background: linear-gradient(
    135deg,
    #bebebe,
    #ffffff
  ); /* 호버 시 반전 그라데이션 효과 */
}
